<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="/images/logob.PNG">
    <title>Book Bank | Login</title>
    <!-- Bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Animate.css -->
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <!-- Hover.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css">
    <!-- External css -->
    <link rel="stylesheet" href="stylesheets/style.css">
    <script>
        var btn = document.querySelector('button')

        function checkLogin() {
            var EmailId = document.getElementById("EmailId");
            var password = document.getElementById("Password");
            if (EmailId === "") {
                EmailId.classList.add("shake")
            } else if (Password === "") {
                Password.classList.add("shake")
            }
        }
        btn.addEventListener("click", checkLogin);
    </script>
    <!-- ajaxcall -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>

<body>
    <img src="images/bookBg.jpg" alt="" class="bookBg">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-5 col-sm-8">
                <div class="registerCard">
                    <h1>Login</h1>
                    <hr>
                    <section>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="exampleInputEmailId">Email Address</label>
                                <input type="text" class="form-control animated" id="EmailId" placeholder="Enter Email Address" required>
                            </div>


                            <div class="form-group">
                                <label for="exampleInputPassword">Password</label>
                                <input type="password" class="form-control animated" id="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Enter Password" required>
                            </div><br>

                            <button type="submit" id="submit" class="btn btn-maroon hvr-sweep-to-right">Login</button>
                    </section>
                    <div class="form-check"><br>
                        <input class="form-check-input" id="exampleCheck1" type="checkbox" style="width: 15px;height: 15px;">
                        <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                    </div>


                    <div class="mt-20">
                        Don't have account? <a href="/register">Register Here</a>
                    </div>
                    <script>
                        console.log("started");
                        document.getElementById("submit").onclick = function(event) {

                            console.log("ookkkk");

                            var temp = {
                                "EmailId": document.getElementById("EmailId").value,
                                "Password": document.getElementById("Password").value
                            }
                            console.log(temp);

                            var result = null;
                            // console.log(temp);
                            $.ajax({
                                "crossDomain": true,
                                "url": "http://localhost:3000/api/adminlogin",
                                "method": "POST",
                                "timeout": 200,
                                "data": JSON.stringify(temp),
                                "async": false,
                                "headers": {
                                    "content-type": "application/json"
                                },
                                success: function(data) {

                                    console.log("data status" + data.status);

                                    if (data.status == 200) {
                                        alert('Welcome Admin!!!');

                                        window.location = "http://localhost:3000/admin"
                                        result = data;
                                    } else {
                                        alert('Password Wrong');
                                    }
                                },
                                fail: function(data) {
                                    console.log(data)
                                    result = data;
                                }
                            });
                            //console.log(result);
                        };
                    </script>

                    </div>

                </div>
            </div>
        </div>


</body>

</html>